<div>
    <h2 id="page-heading">
        <span jhiTranslate="reclamationApp.historiqueReclamation.home.title">Historique Reclamations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-historique-reclamation" [routerLink]="['/historique-reclamation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="reclamationApp.historiqueReclamation.home.createLabel">
            Create new Historique Reclamation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="historiqueReclamations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="reclamationApp.historiqueReclamation.description">Description</span></th>
            <th><span jhiTranslate="reclamationApp.historiqueReclamation.titre">Titre</span></th>
            <th><span jhiTranslate="reclamationApp.historiqueReclamation.created_at">Created At</span></th>
            <th><span jhiTranslate="reclamationApp.historiqueReclamation.created_by">Created By</span></th>
            <th><span jhiTranslate="reclamationApp.historiqueReclamation.affected_to">Affected To</span></th>
            <th><span jhiTranslate="reclamationApp.historiqueReclamation.reclamation_id">Reclamation Id</span></th>
            <th><span jhiTranslate="reclamationApp.historiqueReclamation.updated_at">Updated At</span></th>
            <th><span jhiTranslate="reclamationApp.historiqueReclamation.phase_libelle">Phase Libelle</span></th>
            <th><span jhiTranslate="reclamationApp.historiqueReclamation.etat_libelle">Etat Libelle</span></th>
            <th><span jhiTranslate="reclamationApp.historiqueReclamation.type_libelle">Type Libelle</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let historiqueReclamation of historiqueReclamations ;trackBy: trackId">
                <td><a [routerLink]="['/historique-reclamation', historiqueReclamation.id, 'view' ]">{{historiqueReclamation.id}}</a></td>
                <td>{{historiqueReclamation.description}}</td>
                <td>{{historiqueReclamation.titre}}</td>
                <td>{{historiqueReclamation.created_at | date:'medium'}}</td>
                <td>{{historiqueReclamation.created_by}}</td>
                <td>{{historiqueReclamation.affected_to}}</td>
                <td>{{historiqueReclamation.reclamation_id}}</td>
                <td>{{historiqueReclamation.updated_at | date:'medium'}}</td>
                <td>{{historiqueReclamation.phase_libelle}}</td>
                <td>{{historiqueReclamation.etat_libelle}}</td>
                <td>{{historiqueReclamation.type_libelle}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/historique-reclamation', historiqueReclamation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/historique-reclamation', historiqueReclamation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'historique-reclamation/'+ historiqueReclamation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
