<div>
    <h2 id="page-heading">
        <span jhiTranslate="reclamationApp.nm_Etat.home.title">Nm Etats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nm-etat" [routerLink]="['/nm-etat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="reclamationApp.nm_Etat.home.createLabel">
            Create new Nm Etat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="nm_Etats">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="reclamationApp.nm_Etat.libelle">Libelle</span></th>
            <th><span jhiTranslate="reclamationApp.nm_Etat.code">Code</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nm_Etat of nm_Etats ;trackBy: trackId">
                <td><a [routerLink]="['/nm-etat', nm_Etat.id, 'view' ]">{{nm_Etat.id}}</a></td>
                <td>{{nm_Etat.libelle}}</td>
                <td>{{nm_Etat.code}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/nm-etat', nm_Etat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/nm-etat', nm_Etat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nm-etat/'+ nm_Etat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
