<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nm_Etat">
            <h2><span jhiTranslate="reclamationApp.nm_Etat.detail.title">Nm Etat</span> {{nm_Etat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="reclamationApp.nm_Etat.libelle">Libelle</span></dt>
                <dd>
                    <span>{{nm_Etat.libelle}}</span>
                </dd>
                <dt><span jhiTranslate="reclamationApp.nm_Etat.code">Code</span></dt>
                <dd>
                    <span>{{nm_Etat.code}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nm-etat', nm_Etat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
