<div>
    <h2 id="page-heading">
        <span jhiTranslate="reclamationApp.action.home.title">Actions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-action" [routerLink]="['/action/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="reclamationApp.action.home.createLabel">
            Create new Action
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="actions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="reclamationApp.action.phase_precedente">Phase Precedente</span></th>
            <th><span jhiTranslate="reclamationApp.action.ordre">Ordre</span></th>
            <th><span jhiTranslate="reclamationApp.action.description">Description</span></th>
            <th><span jhiTranslate="reclamationApp.action.phase_actuelle">Phase Actuelle</span></th>
            <th><span jhiTranslate="reclamationApp.action.nm_PhaseSuivant">Nm Phase Suivant</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let action of actions ;trackBy: trackId">
                <td><a [routerLink]="['/action', action.id, 'view' ]">{{action.id}}</a></td>
                <td>{{action.phase_precedente}}</td>
                <td>{{action.ordre}}</td>
                <td>{{action.description}}</td>
                <td>{{action.phase_actuelle}}</td>
                <td>
                    <span *ngFor="let nm_PhaseSuivant of action.nm_PhaseSuivants; let last = last">
                            <a class="form-control-static" [routerLink]="['../nm-phase', nm_PhaseSuivant?.id, 'view' ]">{{nm_PhaseSuivant.libelle}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/action', action.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/action', action.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'action/'+ action.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
